body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em; 
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color:#594b3a;
}

/*  header part */
.headerdidot {
  text-align:center;
  font-size: 1.2em; 
  font-family: 'GFS Didot', serif;
}

/*  horizontal line  */
hr {
  background-color:#594b3a;
  opacity: 0.5;
}
.hr1 {
  border:solid 0.7px;
}
.hr2 {
  border:solid 2px;
  margin-bottom: 5em;
}


/*  Navigation part */
li {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-size: 1.3em;
}
ol {
  color: #43948e;
}


/*  back to menu nav shorcut */
a {
  color: #43948e;
}
span a {
  font-size: 0.5em;
  vertical-align: middle;
  text-decoration: none;  
}


/*  text formatting for the articles */
.center {
  text-align: center;
  vertical-align: middle;
}
article p {
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
  line-height: 1.5em;   
}
article {
  margin-top: 50px;
  margin-bottom: 50px;
}
.justifyright {
  text-align: right;
}

/*  Quotation section  */
.classquote {
  clear: both;
  margin-top: 300px;
  padding-bottom:50px;
}
blockquote {
  width: 90%;
  background-color: #f0f0f0;
  padding: 40px;
  margin: 0;
  font-style:italic;
  font-family: Times, serif;
  font-size: 2em;
  color: black;
}

/*  Population of Cats  */
.cattable {
  width: 100%;
  text-align: right;
  border-collapse: collapse; 
  border-style: hidden; 
  margin-top: 40px;          
}
.cattable th:first-child, td:first-child {
  text-align:left;
}
.cattable tr:nth-child(even) {
  border-style: dashed; 
  background-color:#f1f0ee; 
  border-color:#acacac
}
td {
  padding:15px; 
  border: 1px solid rgb(224, 224, 224);
}
th {
  color:white;
  background-color:#5a5754;
  border: 1px solid gray;
  border-bottom: 2px;
  padding:15px;
}


/*  for the image size  */
.imgsize {
  width:55%; 
  float:left;
  padding-right:20px;
}

/*  footer part */
footer {
  padding-top:80px;
  text-align:center;
}